body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-size: 20px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}



.treecontainer{
  
}

.treelevel{
  margin: 10;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.treenode{
  display: inline;
}

.svgBox{
  width:100%;
  height:100%;
  z-index: -10;
	position:absolute;
  background-color: #263238;
}

.svgCont{
  height:  100%;
  width: 100%;
  opacity: 0.8;
}

.headernav{
  height: 75px;
  position: fixed;
  width: 100%;
  background-color: #455A64;
  font-size: 22px;
}

.tabcontent{
 padding-top: 75px;
}

.headertab{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.tabcontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
}

.sliderbar{
  width: 50%;
  height: 10%;
  position: absolute;
  background-color: #00E5FF;
}

.slideanim1{
  animation: slide1 1s forwards;
}

.slideanim2{
  animation: slide2 1s forwards;
}

@keyframes slide1 {
  0% {left: 0%;}
  100% { left: 50%; }
}

@keyframes slide2 {
  0% { left: 50%; }
  100% { left: 0%; }
}

.inputbox{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputbox>div{
  margin: 10px;
}

.inputbox>input{
  width: 30%;
  height: 20px;
  background-color: #546E7A;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  color: white;
}

.inputbox>button{
  margin: 20px;
  background-color: #546E7A;
  padding: 10px;
  border-radius: 5px;
}

.inputbox>button:hover{
  border-style: solid;
  border-width: 2px;
  border-color: #00E5FF;
}

input:focus{
  outline: none;
}

.treenode{
  background-color: #00E5FF;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #263238;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 25px;
  transition: all .2s ease-in-out; ;
}

.treenode:hover{
  transform: scale(1.2, 1.2);
  border-style: solid;
  border-width: 4px;
  border-color: #64DD17;
}

.treelevel{
  margin: 20px;
}